<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" backupStaticAttributes="false" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="true" testdox="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
    <coverage cacheDirectory=".phpunit.cache/code-coverage" processUncoveredFiles="true">
        <include>
            <directory suffix=".php">../../Domains/HostProperties</directory>
        </include>
        <exclude>
            <directory suffix=".php">Domains/HostProperties/Infrastructure</directory>
            <directory suffix=".php">Domains/HostProperties/Application/EventHandlers</directory>
            <directory suffix=".php">Domains/HostProperties/Interfaces</directory>
        </exclude>
    </coverage>
    <testsuites>
        <testsuite name="HostProperties">
            <directory suffix="Test.php">./../../tests/HostProperties</directory>
        </testsuite>
    </testsuites>
</phpunit>
